* { 
   margin: 0;    
   box-sizing: border-box;
   font-family: 'Nunito', sans-serif;

}

.header {
    background-color:#160c28;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.span {
    margin-right: 25vh;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin-right: 15px; 
}

a {
    color: white;
    text-decoration: none;
    display: flex;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

::-webkit-scrollbar-thumb {
    background: #160c28;
}

body {
    background-color: #ffffff;
    color: #5e503f;
}

.tituloSection{
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 1.6rem;
    color: white;
    background-color:#22333b;
}

.peliculas {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   transition: transform 0.3s ease;
}

.peliculas:hover {
    transform: translateY(-5px); 
}

.aclamadas {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scrollbar-width: none; 
}

.peliculaItem {
    flex: 0 0 auto; 
    scroll-snap-align: start; 
}

.imgAclamada {
    width: 79%;
  }


button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    border-radius: 5px;
}

.footer {
    background-color:#160c28;
    color: #ffffff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bodyRegistrarse {
    height: 100vh;
    background: linear-gradient(to right top, #24242473,#24242473),url('/CACMovie/Statics/img/bg-register.jpg');
    background-size: cover;
    background-position: center;
}

input, select {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0.3em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 5px;
}

hr {
    border: 1px solid #e7ecef;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.main {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionRegistrarse {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario, .formulario2 {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    color: white;
    opacity: 0.9;
    width: 300px;
}

.formulario input, .formulario2 input, .formulario select {
    display: inline-block; 
    width: 220px; 
    margin-bottom: 10px;
}

.input#terminos.check{
    width: auto;
}

.textoCheck, .ayuda {
    font-size: 10.5px;
}

.contenedorDetalle {
    display: flex; 
}
  
.contenedorDetalle {
    flex: 0 0 auto; 
}
  
.textoDetalle {
    flex: 1; 
    padding: 30px 0 0 25px;
    text-align: justify;
    align-items: center;
}

.sectiondetalle {
    margin: 20px;
}

.contenedorTrailer {
    display: flex;
    justify-content:left; 
    margin-left: 15px;
}

i {
    margin-right: 10px;
}

#pais{
    margin: 6.5px 0px 0px 5.52px;
}

.terminos{
    margin: 5px 0px 5px 0px;
}

.botonGeneral, .error-text, .tituloRegistrarse {
    text-align: center;
}

#social {
    color: black;
}

span {
    transition: transform 0.5s ease-in-out;
}

span:hover {
    transform: rotate(360deg);
}

#adm {
    display: block;
}

#quienes-somos, #ayuda {
    margin: 15px;
}

#decoracion {
    display: inline-flex;
    color: blue;
}

.menu-toggle, .menu-icon {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 14px 20px;
    color: white;
    font-size: 20px;
    z-index: 1; /* Asegura que el icono esté por encima del menú desplegable */
}


@media only screen and (max-width:600px){
    .span {
        flex-direction: column;
        display: none;
        position: absolute; /* Asegura que el menú se despliegue debajo del icono */
        top: 50px; /* Ajusta esta propiedad según la altura del header/nav */
        background-color: #160c28;
        right: 0;
        margin-right: 0;
        opacity: 0;
        transition: opacity 0.5s ease; 
    }

    .span li {
        display: block;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    /* Mostrar el menú cuando el checkbox está marcado */
    .menu-toggle:checked + .menu-icon + .span {
        display: flex;
        opacity: 1; /* Opacidad completa cuando está marcado */
    }
    
}

/*desde 601px hasta 762px*/
@media only screen and (min-width:601px) and (max-width:762px){
    .span {
        flex-direction: column;
        display: none;
        position: absolute; /* Asegura que el menú se despliegue debajo del icono */
        top: 50px; /* Ajusta esta propiedad según la altura del header/nav */
        background-color: #160c28;
        right: 0;
        margin-right: 0;
        opacity: 0;
        transition: opacity 0.5s ease; 
    }

    .span li {
        display: block;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    /* Mostrar el menú cuando el checkbox está marcado */
    .menu-toggle:checked + .menu-icon + .span {
        display: flex;
        opacity: 1; /* Opacidad completa cuando está marcado */
    }

}